.SecondSection {
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.SecondSection .soundcloud__placeholder {
    width: 40%;
}

.SecondSection .garner__placeholder {
    width: 60%;
    background-color: var(--garner);
}

@media only screen and (max-width: 768px) {
    .SecondSection {
        height: unset;
        padding: 3rem 1rem 1rem 1rem;
        flex-direction: column;
        gap: 3rem;
    }

    .SecondSection .soundcloud__placeholder {
        width: 100%;
    }

    .SecondSection .garner__placeholder {
        width: 100%;
        height: 90vh;
    }
}