.UnsplashCarouselItem1 {
    background-image: url('../../../../../images/portuguese-gravity.jpg');
    background-position: center;
    background-size: cover;
}

.UnsplashCarouselItem2 {
    background-image: url('../../../../../images/annie-spratt.jpg');
    background-position: center;
    background-size: cover;
}


