.IntroSection {
    height: 77.5vh;
    width: 100vw;
    padding: 2rem;
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.placeholder__blog1 {
    width: 67.5%;
    /* background-color: var(--col6); */
    /* border-radius: 3px; */
    /* color: #fff */
    filter: saturate(1.4);
}

.placeholder__blog2 {
    width: 32.5%;
    background-color: var(--col6);
    /* border-radius: 3px; */
}

@media only screen and (max-width: 768px) {
    .IntroSection {
        display: flex;
        flex-direction: column-reverse;
        height: unset;
        row-gap: 5rem;
        padding: 4rem 1rem 1.5rem 1rem;
    }

    .placeholder__blog1, .placeholder__blog2 {
        height: 70vh;
        width: 100%;
    }
}