.ThirdSection {
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    gap: 2rem;
}

.ThirdSection .first__placeholder {
    width: 33%;
}

.ThirdSection .second__placeholder {
    width: 33%;
}

.ThirdSection .third__placeholder {
    width: 33%;
}