.ThirdSection {
    height: 90vh;
    width: 100vw;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    padding-bottom: 4rem;
}

.ThirdSection .first__placeholder {
    width: 33%;
}

.ThirdSection .second__placeholder {
    width: 33%;
}

.ThirdSection .third__placeholder {
    width: 33%;
}

@media only screen and (max-width: 768px) {
    .ThirdSection {
        height: unset;
        width: 100vw;
        padding: 4rem 1rem 1rem 1rem;
        flex-direction: column;
        gap: 5rem;
    }

    .ThirdSection .first__placeholder {
        width: 100%;
        height: 90vh;
    }

    .ThirdSection .second__placeholder {
        width: 100%;
        height: 90vh;
    }

    .ThirdSection .third__placeholder {
        width: 100%;
        height: 90vh;
    }
}