.fade-in-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    will-change: opacity, transform;
}

.fis-is-visible {
    opacity: 1;
    transform: none;
}

